{% extends 'base.html' %}

{% block title %}{{ category.title }}{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{% for item in news %}
<div class="card mb-3">
    <div class="card-header">
        Категория: {{ item.category }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                {% if item.photo %}
                <img src="{{ item.photo.url }}" alt="" width="300" height="250">
                {% else %}
                <img src="https://picsum.photos/id/1060/200/300/" alt="" width="300" height="250">
                {% endif %}
            </div>
            <div class="col-md-8">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.content|truncatewords:85 }}</p>
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Читать</a>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ item.created_at|date:"H:i d-m-Y" }}
    </div>
</div>
{% empty %}
<div class="alert alert-primary mt-3 mx-auto" style="width: 400px;" role="alert" align="center">
    Список новостей пуст!
</div>
{% endfor %}
{% endblock %}